* {margin:0; padding:0;}
body {font-family: 'Open Sans Condensed';
	  background-color: darkgreen;
	  margin: 10px;} /*helped to shrink the "main" portion of the article and aside. */

header {background: #000;
		display: table;
		width: 98.5%;
		padding: 10px; /*width, padding, margin all help to see the border radii and shadow properly. */
		margin: 0 0 10px 0;
		border-radius: 10px;
		box-shadow: 4px 4px 5px #aaa;} /* This helped to move the navigation over to the right
											once I put the nav in the header section.  Box-shadow
											gives the shadow look. */

header h1 {font-family:'Open Sans Condensed';
		   display: table-cell; /*helped to have both the title of the page and the navigation 
		                          side by side */
	       font-weight:400;
	       font-size:4em;
		   letter-spacing:-.05em;
		   width: 60%; /*used in conjunction with the width of the nav to create a "header" bar
		   				that fully covered the top portion of the screen */
	       color:#fff;
		   padding:10px 0 15px 40px;} /*more padding added around the website title--also allows
		   							  for the rounded corners to be seen better. */
 
nav {display:table-cell;
	 width: 40%; /*used in conjunction with the width of the header h1 to create a "header" bar
	             that fully covered the top portion of the screen */
	 background:#000; /*changed the background of the navigation to black from peach/tan */
     padding:20px 60px 0 0;}
     
nav li {list-style-type:none;
		padding:3px 5px;
		display: inline-block; /*made the navigation horizontal */
		text-decoration: underline;}/*underlined the links to help make them appear as links
									  and not just titles */

nav a {font-family:'Open Sans Condensed';
	   font-weight:700;
	   font-size: 1.4em;
	   color:#fff;}
	   
ul {border:1px solid #000;
		   border-radius:3px; padding:5px 10px 3px;}

li + li {border-top:1px solid #000;}

a:hover {color:#069;}

img {display:block; /* remove baseline spacing from under image */
	 padding: 10px;
	 margin: 10px;}

main {display: table; /*allows me to work with the article and aside as one */
	  width: 90%;
	  margin: 10px;
	  padding: 10px;
	  box-shadow: 4px 4px 5px #aaa;
	  font-family: 'Open Sans Condensed';} 
				  
article {display:table-cell;
		 background: #e0e0e0;
		 font-family: 'Open Sans Condensed';
		 width: 70%;
		 padding: 10px 20px;
		 box-shadow: 4px 4px 5px #aaa;
		 border-radius: 0 20px 20px 0;} /*changes the border radius for the whole right side of 
		 						the "body" section so the article and aside portions do
								not look separate. */

article h1 {font-family:'Open Sans Condensed';
	        font-weight:700;
	        font-size:1.5em;
			letter-spacing:-.05em;
			margin: 10px;
            color:#616161;}
            
article h2 {font-family:'Open Sans Condensed';
			text-decoration: underline;
	        font-weight:700;
	        font-size:1.25em;
	        letter-spacing:-.05em;
	        color: darkgreen;
            margin:10px 0 20px 0;}
            
article p {font-family:'Open Sans Condensed';
	       font-weight:300;
	       font-size:1em;
		   color:#000;
		   margin: 10px;}
           
aside {display:table-cell;
	   width: 30%;
	   background:gray;
	   padding:10px;
	   box-shadow: 4px 4px 5px #aaa;
	   border-radius: 20px 0 0 20px;} /*changes the border radius for the whole left side of 
										the "body" section so the article and aside portions do
										not look separate. */
       
aside h3 {font-family:'Open Sans Condensed';
		  text-decoration: underline;
	      font-weight:700;
	      letter-spacing:-.075em;
		  color:#000;
		  margin: 10px;}
          
aside p {font-family:'Open Sans Condensed';
	     font-weight:700;
	     font-size:.85em;
		 line-height:1.2em;
		 margin: 10px;
         color:#000;}
         
footer {clear:both;
	    background:#000;
		text-align:center;
		margin: 10px 0 0 0;
		padding: 10px;
		border-radius: 10px;
		box-shadow: 4px 4px 5px #aaa;} /*Again, here is rounded corners and shaded */
        
footer p {font-family:'Open Sans';
	      font-weight:700;
	      font-size:.65em;
          color:#fff;}
          
footer a {font-family:'Open Sans';
	      font-weight:700italic;
	      font-size:1em;
	      color:#ffed53;
		  text-decoration:none;}
		  
@media only screen and (max-width: 1050px) /*makes the screen adjust for small resolutions */
	{
		header {padding: 1px 0 0 0;
				width: 100%;}

		header h1 {float: none;
				   font-size: 3em;
				   display: block;
				   text-align: center;
				   width: 100%;
				   padding: 10px;}

		header nav {display: block;
					text-align: center;
					width: 100%;
					padding: 0 0 10px 0;
				    border-radius: 0 0 10px 10px;}

		article {display: block;
				 width: 97.5%;
				 padding: 10px;
				 border-radius: 10px;
				 margin-bottom: 10px;}

		aside {display: block;
			   width: 97.5%;
			   padding: 10px;
			   border-radius: 10px;
			   margin-bottom: 10px;}

		footer {display: block;
				width: 98%;}
	
	}